<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>APPENDERS</key>
        <array>
            <dict>
                <key>directorypath</key>
                <string>logger/vasco</string>
                <key>daystokeep</key>
                <string>2</string>
                <key>filenamedateformat</key>
                <string>yyyy-MMM-dd&apos;.log&apos;</string>
                <key>name</key>
                <string>daily</string>
                <key>class</key>
                <string>com.vascomouta.vmlogger.implementation.appender.DailyRotatingLogFileAppender</string>
            </dict>
            <dict>
                <key>name</key>
                <string>server</string>
                <key>class</key>
                <string>com.vascomouta.vmlogger.implementation.appender.URLLogAppend</string>
                <key>url</key>
                <string>https://testserver.something/log</string>
                <key>method</key>
                <string>POST</string>
                <key>headers</key>
                <dict>
                    <key>apikey</key>
                    <string>mykey</string>
                </dict>
                <key>filters</key>
                <array>
                    <dict>
                        <key>class</key>
                        <string>com.vascomouta.vmlogger.implementation.filter.ValueTypeFilter</string>
                        <key>types</key>
                        <array>
                            <string>ViewController</string>
                        </array>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>console</string>
                <key>class</key>
                <string>com.vascomouta.vmlogger.implementation.appender.ConsoleLogAppender</string>
                <key>encoder</key>
                <dict>
                    <key>pattern</key>
                    <array>
                        <string>%.30d [%thread][%Caller] %-7p %-20.-20c - %m</string>
                    </array>
                    <key>formatters</key>
                    <array>
                        <dict>
                            <key>class</key>
                            <string>com.vascomouta.vmlogger.implementation.formatter.EmojieLogFormatter</string>
                            <key>emojies</key>
                            <string>simple</string>
                        </dict>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>encoder</key>
                <dict>
                    <key>pattern</key>
                    <array>
                        <string>%.30d [%thread][%Caller] %-7p %-22.-22c - %m</string>
                    </array>
                    <key>formatters</key>
                    <array>
                        <dict>
                            <key>class</key>
                            <string>com.vascomouta.vmlogger.implementation.formatter.ANSIColorLogFormatter</string>
                        </dict>
                    </array>
                </dict>
                <key>name</key>
                <string>file</string>
                <key>class</key>
                <string>VMLogger.FileLogAppend</string>
                <key>fileName</key>
                <string>log.txt</string>
            </dict>
        </array>
        <key>LOGGER_LEVEL</key>
        <string>info</string>
        <key>LOGGER_CONFIG</key>
        <dict>
            <key>VMLogger_Example.ViewController.children.alex</key>
            <dict>
                <key>level</key>
                <string>error</string>
                <key>additivity</key>
                <true/>
            </dict>
            <key>VMLogger_Example.ViewController.children</key>
            <dict>
                <key>level</key>
                <string>verbose</string>
                <key>additivity</key>
                <true/>
            </dict>
            <key>com.vascomouta.vmloggertest.AppDelegate</key>
            <dict>
                <key>appenders</key>
                <array>
                    <string>file</string>
                </array>
                <key>level</key>
                <string>info</string>
                <key>additivity</key>
                <false/>
            </dict>
        </dict>
        <key>LOGGER_APPENDERS</key>
        <array>
            <string>daily</string>
            <string>console</string>
        </array>
    </dict>
</plist>
